<div class="sb2-2-1">
  <h2>Admin Dashboard</h2>
  <div class="db-2">
    <ul>
      <li>
        <div class="dash-book dash-b-1">
          <h5>All Courses</h5>
          <h4>{{ data.totalCourses }}</h4>
        </div>
      </li>
      <li>
        <div class="dash-book dash-b-2">
          <h5>Quizzes</h5>
          <h4>{{ data.totalQuiz }}</h4>
        </div>
      </li>
      <li>
        <div class="dash-book dash-b-3">
          <h5>Students</h5>
          <h4>{{ data.totalStudent }}</h4>
        </div>
      </li>
      <li>
        <div class="dash-book dash-b-4">
          <h5>Lesson</h5>
          <h4>{{ data.totalLesson }}</h4>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-enrollments/>
