.pending {
  background-color: #ffcc00 !important;
  color: black !important;
}

.rejected {
  background-color: red !important;
  color: white !important;
}

.approved {
  background-color: green !important;
  color: white !important;
}
